<!-- <div id="centralViewport" class="row"> -->
	<!-- <div class="col-xs-4"> -->
		<p style="font-family: sans-serif; padding: 5%; font-size: 150%" >RE4S Quick Start Guide</p>			
		<div>					
			<accordion close-others="oneAtATime">					
				<accordion-group is-open="status.isFirstOpen"> 
					<accordion-heading>
						Title 1 
						<i class="pull-right glyphicon"  data-ng-class="{
							'glyphicon-chevron-down': status.open, 
							'glyphicon-chevron-right': !status.open}">
						</i>
					</accordion-heading> 
					Content for sustainability step 1 
				</accordion-group>
				
				<accordion-group> 
					<accordion-heading>
						Title 2
						<i class="pull-right glyphicon"  data-ng-class="{
							'glyphicon-chevron-down': status.open, 
							'glyphicon-chevron-right': !status.open}">
						</i>
					</accordion-heading> 
					Content for sustainability step 2
				</accordion-group>
				
				<accordion-group> 
					<accordion-heading>
						Title 3
						<i class="pull-right glyphicon"  data-ng-class="{
							'glyphicon-chevron-down': status.open, 
							'glyphicon-chevron-right': !status.open}">
						</i>
					</accordion-heading> 
					Content for sustainability step 3
				</accordion-group>
				
				<accordion-group> 
					<accordion-heading>
						Title 4
						<i class="pull-right glyphicon"  data-ng-class="{
							'glyphicon-chevron-down': status.open, 
							'glyphicon-chevron-right': !status.open}">
						</i>
					</accordion-heading> 
					Content for sustainability step 4
					<p>The body of the accordion group grows to fit the contents</p>
					<button type="button" class="btn btn-default btn-sm"
						data-ng-click="addItem()">Add Item</button>
					<div data-ng-repeat="item in items">{{item}}</div>
				</accordion-group>
			</accordion>
		</div>
	<!-- </div> -->
	<!-- <div class="col-xs-6" data-ui-view></div> -->
<!-- </div> -->